.topbar{
    background-color:rgb(3, 61, 61);
    z-index: 300;
}
.titulo{
    color: white;
    font-size: x-large;
    align-self: center;
    text-decoration: none;
    
}
.titulo:hover{
    color: white;
}
.body{
    background:rgb(3, 61, 61) ;
    color: white;
    text-decoration: none;
}
.nav-link{
    color: white;
}